body	{font-family: Arial, Verdana, Garamond;}
		
p.largetext {font-family: "Arial Black"; font-size: large;
			color: #d40000;}

p.smalltext	{font-size: medium;}    

table	{width: 75%;}
		
th		{color: white; 
		background-color: #d40000;}
