body	{font-family: Arial, Verdana, Garamond;
		font-size: 11pt;}

a		{text-decoration: none;
		color: #122973;}
		
table	{width: 65%;
		margin-left: auto;
		margin-right: auto;}

.menu	{text-align: left;
		width: 20%;}

.content{width: 80%;}
